.wrapper {
  padding: 0.5rem 0.5rem 0.5rem 0;
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(var(--secondary), 0.5) 100%
  );
}
