.container {
  --card-background: rgba(var(--secondary), 0.5);
  position: relative;
  max-width: 500px;
}

.label,
.containerInner {
  background-color: var(--card-background);
  transition: background-color 0.2s ease-in-out;
  backdrop-filter: blur(3px);
}

.label {
  min-width: fit-content;
  width: 30%;
  padding: 0.5rem 1rem 0 1rem;
  border-radius: 1rem 1rem 0 0;
  clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
}

.containerInner {
  padding: 1rem;
  border-radius: 0 1rem 1rem 1rem;
}

.heading {
  margin: 0;
}

.arrow {
  width: 20px;
  height: 25px;
  vertical-align: bottom;
  scale: 1;
  transition: scale 0.1s;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.thumbnail {
  width: 100%;
  max-height: 200px;
  border-radius: 1rem;
  object-fit: cover;
  object-position: top;
}

.container:hover {
  --card-background: rgba(var(--secondary), 1);

  .arrow {
    scale: 1.2;
  }
  box-shadow: 0px 0px 5px rgba(255, 69, 0, 0.8) inset,
    0px 0px 10px rgba(255, 140, 0, 0.7) inset, 0px 0px 15px rgba(255, 0, 0, 0.6),
    0px 0px 40px rgba(255, 69, 0, 0.8), 0px 0px 80px rgba(255, 140, 0, 0.6),
    0px 0px 100px rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 69, 0, 0.2);
  border-color: rgba(255, 140, 0, 0.8);
  animation: rotate-border 2s linear infinite;
}

@keyframes rotate-border {
  0% {
    box-shadow: 0px 0px 5px rgba(255, 69, 0, 0.8) inset,
      0px 0px 10px rgba(255, 140, 0, 0.7) inset,
      0px 0px 15px rgba(255, 0, 0, 0.6), 0px 0px 40px rgba(255, 69, 0, 0.8),
      0px 0px 80px rgba(255, 140, 0, 0.6), 0px 0px 100px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0px 0px 10px rgba(255, 69, 0, 0.5) inset,
      0px 0px 20px rgba(255, 140, 0, 0.8) inset,
      0px 0px 20px rgba(255, 0, 0, 0.7), 0px 0px 50px rgba(255, 69, 0, 0.9),
      0px 0px 100px rgba(255, 140, 0, 0.8), 0px 0px 150px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0px 0px 5px rgba(255, 69, 0, 0.8) inset,
      0px 0px 10px rgba(255, 140, 0, 0.7) inset,
      0px 0px 15px rgba(255, 0, 0, 0.6), 0px 0px 40px rgba(255, 69, 0, 0.8),
      0px 0px 80px rgba(255, 140, 0, 0.6), 0px 0px 100px rgba(255, 0, 0, 0.5);
  }
}
