.section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 2rem;
  overflow: hidden;
}

.heading {
  font-family: "TechnoRace";
  font-size: 3rem;
  margin: 0;
}

.decor {
  color: var(--primary);
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.sectionInner {
  width: 100%;
}

@media (min-width: 768px) {
  .heading {
    font-size: 4.5rem;
  }

  .decor {
    font-size: 2rem;
  }

  .container {
    width: 60%;
  }

  .sectionInner {
    width: 80%;
  }
}
